<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAqKRvvs0oylcXwhS7u8vEXz3SofRsG_zI</string>
	<key>GCM_SENDER_ID</key>
	<string>352191489715</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.juliadomingues.flutterproject.flutterproject</string>
	<key>PROJECT_ID</key>
	<string>teste-1fd7c</string>
	<key>STORAGE_BUCKET</key>
	<string>teste-1fd7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:352191489715:ios:b7239f7883cfa8976cb2c6</string>
</dict>
</plist>